---
name: micromamba/jupyter application

on:  # yamllint disable-line rule:truthy
  push:
    branches: ['*']

  pull_request:
    branches: ['*']

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: ["macos", "ubuntu", "windows"]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - os: "macos"
            platform: "darwin"
            os_pkgs: "fortran-compiler"

          - os: "ubuntu"
            platform: "linux"
            os_pkgs: ""

          - os: "windows"
            platform: "win32"
            os_pkgs: "m2w64-gcc-fortran"

    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4

      - name: Get current date
        id: date
        run: echo "date=$(date +%Y-%m-%d)" >> "${GITHUB_OUTPUT}"

      - uses: mamba-org/setup-micromamba@v1
        env:
          CACHE_NUMBER: 0  # modify to reset cache manually
        with:
          init-shell: bash
          post-cleanup: none
          environment-name: test-env
          environment-file: tests/base-environment.yml
          create-args: >-
            python=${{ matrix.python-version }} ${{ matrix.os_pkgs }}
          cache-environment: false
          cache-downloads: false

      - name: Configure pkg-config path
        run: |
          if [ "${{ matrix.platform }}" = "win32" ]; then
            pkgconfig_path="$CONDA_PREFIX/Library/lib/pkgconfig"
          else
            pkgconfig_path="$CONDA_PREFIX/lib/pkgconfig"
          fi
          echo "PKG_CONFIG_PATH=$pkgconfig_path" >> "$GITHUB_ENV"

      - name: Lint with ruff & yamllint
        run: |
          if [ "${{ matrix.platform }}" != "win32" ]; then
            # ``yamllint`` bug workaround
            # https://github.com/adrienverge/yamllint/issues/347
            yamllint .
          fi
          uv run --group dev ruff check .
          uv run --group dev ruff format --check .

      - name: Workaround conda pkg-config for win32 f2py
        if: ${{ matrix.platform == 'win32' }}
        run: |
          pc_dir="$CONDA_PREFIX/Library/lib/pkgconfig"
          if [ -f "$pc_dir/mkl-sdl.pc" ]; then
            cp -n "$pc_dir/mkl-sdl.pc" "$pc_dir/lapack.pc"
            cp -n "$pc_dir/mkl-sdl.pc" "$pc_dir/blas.pc"
          fi

      - name: f2py workaround  # https://github.com/numpy/numpy/issues/26107
        run: |
          npv=`python -m numpy.f2py -v`
          if [ "$npv" "<" "2" ]; then
            ff=`python -c "import numpy.f2py; print(numpy.f2py.__file__)"`
            mbt=`dirname $ff`/_backends/meson.build.template
            mv "$mbt" "$mbt".orig
            cp "$mbt".orig "$mbt"
            sed \
              -e "/import('python').find_installation(/s/'\${python}', //" \
              -i -- "$mbt"
            if diff -w -u "$mbt".orig "$mbt" ; then
              echo "FAIL: Workaround patch"
              exit 2
            else
              echo "OK: Workaround patch"
            fi
          else
            echo "Workaround don't needed"
          fi

      - name: Precheck f2py
        run: |
          echo "python: " ; python --version
          echo "numpy:  " ; python -c "import numpy; print(numpy.__version__)"
          echo "f2py:   " ; python -m numpy.f2py -v
          echo "pytest: " ; python -m pytest --version
          echo "ipython:" ; ipython --version
          echo "meson:     " ; meson -v
          echo "ninja:     " ; ninja --version
          cmake --version
          echo "pkg-config:" ; pkg-config --version

          pkg-config --list-all

          ld_lapack="--dep lapack --dep blas"

          python -m numpy.f2py --backend meson --verbose -c tests/fib1.f -m fib1
          python -c 'if 1:
            import fib1
            import numpy as np

            a=np.zeros(8,"d")
            fib1.fib(a)
            print(a)
            '

          python -m numpy.f2py --verbose --help-link blas
          python -m numpy.f2py --verbose --help-link lapack

          if pkg-config --exists blas && pkg-config --exists lapack; then
            python -m numpy.f2py --backend meson --verbose \
              -c tests/solve.f90 -m solve $ld_lapack
            python -c 'if 1:
              from solve import solve
              import numpy as np

              A = np.array([[1, 2.5], [-3, 4]])
              b = np.array([1, 2.5])
              x = solve(A, b)
              print(x)
              np.testing.assert_allclose(x, np.linalg.solve(A, b))
              '
          else
            echo "Skipping LAPACK precheck (blas/lapack not found via" \
              "pkg-config)."
          fi

      - name: Test with pytest
        run: |
          JUPYTER_PLATFORM_DIRS=1 uv run --group dev pytest
...
